.main {
  display: grid;
  padding: 2rem;
  margin-top: 80px;
}

.navbar {
  height: 10vh;
}

.section {
  width: 100%;
}

.btn-group{
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.modal-content {
  width: 90vh;
  height: 90vh;
  display: flex;
  justify-content: center;
}

