.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar {
  height: 7vh;
}

.hamburger {
  display: none;
}

.modal-content {
  width: 60vh;
  height: 60vh;
  display: flex;
  justify-content: center;
}