.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar {
  height: 7vh;
}

.hamburger {
  display: none;
}

.modal-content {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 10px 0;
}